* {
  margin: 0;
}

body, html {
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  padding: 20px;
  box-sizing: border-box;
}

#main-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  margin-bottom: 20vh; /* extra spacing at bottom of page. */
  padding: 5px 20px;
  border-left: 2px solid #EEE;
  border-right: 2px solid #EEE;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-weight: 200;
  background: #FAFAFA;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin-bottom: 10px;
}

p {
  margin-bottom: 5px;
}

header {
  text-align: center;
}

span.red {color: red;}
span.green {color: green;}
span.transparent {opacity: 0.2;}

textarea {
  width: 100%;
  resize: vertical;
  min-height: 60px;
  font-family: monospace;
}

/* this is old css for a fork button I made :P

#buttons > a {
  position: relative;
  bottom: 8px;
  color: black;
  text-decoration: none;
  display: inline-block;
  background: linear-gradient(#FFF, #EEE);
  padding: 4px;
  border: 1px solid #DDD;
  border-radius: 4px;
  font-weight: 700;
  box-sizing: border-box;
}

#buttons > a:hover {
  background: linear-gradient(#EEE, #DDD);
}

#buttons > a:active {
  box-shadow: inset 0 3px 12px rgba(0, 0, 0, 0.2);
}
*/

#buttons > h3 {
  float: left;
  margin-right: 8px;
  position: relative;
  top: 3px;
}
